main {
  min-height: 80vh;
}

h3{
  padding: 1rem 0;
}
.rating span {
  margin: 2px;
}

.navb{
  padding:2rem;
}

.brandTitle{
  font-size: 1.5rem;;
}

.logo{
width: 30rem;
}

.cardd{
  padding: 1.5rem;
  min-height: 45vh;
}

.pic{
  text-align: center;
}

a{
  text-decoration: none;
  font-size: 18px;
  font-weight:500;
}

h2{
  text-align: center;
}