main {
  min-height: 80vh;
}

.tab{
  background-color: rgb(50, 49, 49);
}

h3{
  padding: 1rem 0;
}
.rating span {
  margin: 2px;
}

.navb{
  padding:.5rem;
}

.brandTitle{
  font-size: 1.5rem;;
}

.logo{
width: 25rem;
}

.card-img{
  width: 80%
}

.cardd, .card{
  padding: 2.5rem;
  min-height: 45vh;
  border:none
}

.card-img:hover{
  box-shadow:rgb(50, 49, 49);
  width: 100%;
}

.pic{
  text-align: center;
}

.link{
  text-decoration: none;
  color:black;
}

.link:hover{
  text-decoration: none;
  color:gray;
  font-size: 20px;
}

h1{
  font-size: 2rem;
  padding: 2rem;
}

h2{
  font-size: 1.5rem;
  padding: 1rem;

}

a{
  text-decoration: none;
  color: black
}